.basketItemContainer {
  display: flex;
  gap: 40px;
  align-items: stretch;
  margin-bottom: 20px;
  background-color: rgba(5, 4, 62, 0.9);
  padding: 20px;
  border-radius: 10px;

  input {
    width: 60px;
    height: 40px;
    padding: 0 10px;
    text-align: center;
    outline: none;
    border-radius: 10px;
    border: 1px solid #a88d8d;
    font-size: 1.1rem;
    transition: 0.2s all ease;

    &:focus {
      border-color: #106596;
    }
  }

  .quantityChangeContainer {
    display: flex;
    gap: 15px;
    align-items: center;

    .quantityInput {
      background-color: transparent;
      border: 1px solid rgb(0, 255, 68);

      color: white;
    }
  }

  .productNameLink {
    background-color: inherit;
    border: none;
    color: #61b7e9;
    border-bottom: 1px solid #106596;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s ease;

    @media screen and (any-hover: hover) {
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .quantityChangeItem {
    border: none;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    svg {
      fill: #1d4ae9;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

    &:disabled {
      svg {
        fill: #959595;
      }
    }
  }

  .cartItemRightColumnContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
  }

  .cartItemRightColumnTop,
  .cartItemRightColumnBottom {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .cartItemRightColumnTop {
    justify-content: center;
  }

  .cartItemRightColumnBottom {
    flex-direction: column;

    .priceContainer {
      display: flex;
      gap: 50px;
      font-size: 1.2rem;
      color: green;
      font-weight: 500;

      span {
        font-weight: 600;
        font-style: italic;
      }
    }

    .priceDiscounted {
      .priceContainer {
        text-decoration: line-through;
        color: #e14949df;
      }
    }

    .priceRegular {
      .priceContainer {
        color: rgb(210, 245, 255);
        font-weight: 400;
        letter-spacing: 1px;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    & {
      flex-direction: column;
      gap: 30px;

      .cartItemImg {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
      }

      .cartItemRightColumnContainer {
        margin-top: 0;
      }

      .priceContainer {
        justify-content: center;
      }

      .removeProduct {
        margin: 0 auto;
      }

      .cartItemRightColumnBottom {
        .priceContainer {
          gap: 20px;
        }
      }
    }
  }
}

.basketPageTitle {
  text-align: center;
  font-size: 1.35rem;
}

.cartItemImg {
  max-width: 460px;
  height: 230px;
  transition: all 0.2s ease;
  border-radius: 10px;

  @media screen and (any-hover: hover) {
    &:hover {
      transform: scale(1.05);
    }
  }
}

.emptyBasket {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.linkToCatalog {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;

  p {
    margin: 0;
  }

  button {
    border: none;
    background-color: inherit;
    color: green;
    border-bottom: 1px solid green;
    cursor: pointer;
    transition: all 0.2s ease;
    @media screen and (any-hover: hover) {
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

.clearBasketBtn {
  display: block;
  background-color: #1d4ae9;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 20px;

  @media screen and (any-hover: hover) {
    &:hover {
      background-color: #5eabdd;
      color: #000;
    }
  }
}

.promoCodeForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(5, 4, 62, 0.9);
  margin: 0 auto;
  padding: 30px 20px;
  border-radius: 10px;
  margin-bottom: 20px;

  .promoCodeBtnsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .promoCodeBtn {
    border: none;
    background-color: #1d4ae9;
    color: white;

    &:first-child:disabled {
      background-color: #cacaca;
      color: #959595;
    }
  }

  .labelInputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;

    label {
      font-weight: 600;
      text-align: center;
      font-size: 1.2rem;
    }

    @media screen and (max-width: 441px) {
      & {
        justify-content: center;
      }
      input {
        min-width: 200px;
      }
    }
  }

  .promoCodeInput {
    position: relative;
    padding: 5px 40px 5px 10px;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;

    color: white;

    border-style: inset;
    border: 2px solid green;
    background-color: rgba(11, 8, 155, 0.3);

    &:focus {
      box-shadow: 5px 3px 3px #0dc6ec;
    }
  }

  .promoCodeNotice {
    text-align: center;
    font-size: 1.2rem;
    line-height: 120%;

    .promoCodeNoticeTitle {
      font-weight: 600;
    }

    .promoCodeNoticeCode {
      color: #c134c6;
      font-size: 1.3rem;
      line-height: 120%;
      font-style: italic;
    }
  }
}

.basketDiscountText,
.basketTotalDiscount,
.basketTotalNoDiscount {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: rgba(5, 4, 62, 0.9);
  padding: 20px;
  border-radius: 10px;
  width: fit-content;
  font-size: 1.3rem;
  color: #ff3a3ac3;
  margin: 0 auto;
  margin-bottom: 20px;
  font-style: italic;

  span {
    font-weight: 600;
  }
}

.basketDiscountText {
  text-decoration: line-through;
}

.removeProduct {
  width: 20px;
  height: 20px;
  margin: auto 0 0 0;
  cursor: pointer;
  transition: all 0.1s ease;
  @media screen and (any-hover: hover) {
    &:hover {
      transform: scale(1.05);
    }
  }
}

.basketTotalDiscount {
  color: rgb(0, 212, 0);
}

.basketTotalNoDiscount {
  color: black;
}
