.catalog {
  display: flex;
  flex-direction: column;

  .navBtn {
    border: none;
    background-color: white;
    border-radius: 5px;

    padding: 3px 10px;
    margin-right: 10px;

    cursor: pointer;
  }

  @media (any-hover: hover) {
    .navBtn:hover {
      background-color: lightgray;
    }
  }
}

.navigate {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  background-color: rgb(10, 10, 89);
}

.mainSection {
  position: relative;
  display: flex;
  flex: 1;
}

.catalogPageTitle {
  margin-bottom: 50px;
  text-align: center;

  @media screen and (max-width: 600px) {
    & {
      margin-bottom: 25px;
    }
  }
}

.formWrapper {
  width: 20%;
}

.cardsWrapper {
  width: 80%;
}

.navElementsWrapper {
  display: flex;
  padding: 5px;

  >* {
    margin-left: 10px;
  }

  background: rgb(44, 44, 161);
}

@media screen and (max-width: 920px) {
  .formWrapper {
    position: absolute;
    top: 0;
    left: -100%;
  }

  .cardsWrapper {
    width: 100%;
  }
}