$color-inactive: rgb(255, 255, 243);
$color-active: rgb(0, 255, 68);

.active {
  color: $color-active;
  border-radius: 5px;
  cursor: default;

  font-weight: 500;
}

.inactive {
  color: $color-inactive;
  cursor: pointer;
  transition: all 0.5s linear;
}

.active,
.inactive {
  text-decoration: none;
}

@media (hover: hover) {
  .inactive:hover {
    filter: drop-shadow(0 0 0.75rem crimson);
    text-decoration: underline;
  }
}
