
.profileSectionBtnsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.profileSectionBtn {
  background-color: #bcbcbc;
  border: none;
  min-width: 155px;

  @media (any-hover: hover) {
    &:hover {
      background-color: #b1cbff;
    }
  }
  &.active {
    background-color: #1d4ae9;
    color: white;
    cursor: default;
  }
}

.loadingDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  height: 80vh;
}

.spinner {
  margin-right: 10px;
  font-size: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}