.mainProfile {
  background-color: rgba(5, 4, 62, 0.8);

  letter-spacing: 2px;
}

.profileSectionBtnsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.profileSectionBtn {
  background-color: #7891ea;
  border: none;
  min-width: 155px;

  @media (any-hover: hover) {
    &:hover {
      background-color: #5576eb;
    }
  }
  &.active {
    background-color: #1d4ae9;
    color: white;
    border: 1px solid rgb(0, 255, 68);
    cursor: default;
  }
}
