.promoContainer {
    position: fixed;
    right: 30px;
    top: 10%;
    display: grid;
    grid-template-columns: repeat(2, minmax(160px, 30%));
    grid-template-rows: 1fr;
    height: 80px;
    z-index: 100;
    border-radius: 5px;
    overflow: hidden;
}

.rsteamDiscount,
.raceDiscount {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.rsteamDiscount {
    background-image: url(./coupon50.svg);
}

.raceDiscount {
    background-image: url(./coupon10.svg);
}