.registrationWrapper {
  background-color: rgba(5, 4, 62, 0.8);

  .formWrapper {
    width: fit-content;
    margin: 0 auto;

    padding: 25px;
    border-radius: 15px;

    border: 2px solid rgb(0, 255, 68);

    .registrationPageTitle {
      margin-bottom: 50px;
      text-align: center;

      @media screen and (max-width: 600px) {
        & {
          margin-bottom: 25px;
        }
      }
    }
  }
}
