.navBtn {
  border: none;
  background-color: white;
  border-radius: 5px;

  padding: 3px 10px;

  cursor: pointer;
}

@media (any-hover: hover) {
  .navBtn:hover {
    background-color: lightgray;
  }
}

.navMenu {
  display: flex;
  flex-direction: row;
  gap: 15px;
  list-style-type: none;
  transition: all 0.3s ease;

  .ulMenu {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 0;
    list-style-type: none;
    transition: transform 0.3s ease;
  }

  @media screen and (max-width: 768px) {
    .ulMenu {
      position: fixed;
      min-width: 380px;
      flex-direction: column;
      min-height: 380px;
      right: -383px;
      top: -3px;
      background-color: #95b4ce;
      padding-top: 50px;
      border-radius: 10px;
    }

    &.active {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(1, 1, 0, 0.5019607843);
      z-index: 3;

      .ulMenu {
        transform: translateX(-100%);
        z-index: 4;
      }
    }
  }
}
