nav {
  ul {
    display: flex;
    flex-direction: row;
    gap: 15px;

    list-style-type: none;
  }

  .nav__btn {
    border: none;
    background-color: white;
    border-radius: 5px;

    padding: 3px 10px;

    cursor: pointer;
  }
}
