.discountWrapper,
.priceWrapper,
.nameWrapper,
.movieWrapper {
    width: 100%;
    line-height: 100%;
}

.radioWrapper {
    margin-bottom: 5px;
}

.radioLabel {
    color: #fff;
    margin-left: 5px;
}

@media screen and (max-width: 1200px) {
    .radioWrapper {
        font-size: 0.8rem;
    }
}