.footer {
  background-color: rgba(5, 4, 62, 0.6);

  border: 1px solid black;

  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 5px;

  .footerContentWrapper {
    display: flex;
    align-items: center;

    justify-content: space-between;
  }

  .githubLinkWrapper {
    display: flex;
    gap: 5vw;
  }

  p {
    margin: 0;
  }
}

@media screen and (max-width: 630px) {
  .footer {
    .githubLinkWrapper {
      flex-direction: column;
      gap: 10px;
    }
  }
}
