.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 40px;
  padding: 10px;
  background: rgb(44, 44, 161);
}

.crumb {
  height: 20px;
  line-height: 20px;
}

.breadcrumbs > * {
  display: flex;
  margin-right: 10px;
}

.breadcrumbs .crumb:after {
  content: '>';
  display: inline-block;
  height: 20px;
  margin-left: 10px;
  color: #fff;
}

.breadcrumbs .crumb:last-child:after {
  display: none;
}

.breadcrumbs a {
  display: inline-block;
  line-height: 20px;
  height: 20px;

  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.homeImage {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 2px;
  background-image: url('./home-icon.svg');
  background-repeat: no-repeat;
  background-size: 20px 20px;
}
