@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
  font-family: 'Questrial', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.32px;
  color: #222222;

  background-color: rgb(255, 255, 255);

  min-width: 100%;
  min-height: 100vh;

  padding: 0px 30px;

  #root {
    max-width: 1500px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    min-height: 100vh;
  }

  main {
    flex: 1;

    border: 1px solid black;
    border-radius: 5px;

    padding: 5px 10px;
    margin-bottom: 10px;
  }

  @media screen and (max-width: 768px) {
    & {
      padding: 0 15px;
    }
  }
}

.no-scroll {
  overflow: hidden;
}