.notFound {
  background-image: url(../../../public/images/404_1.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.image-404 {
  width: clamp(300px, 80%, 500px);
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: 50% 50%;
  margin-left: auto;
  margin-right: auto;
}
